<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alejandra Sanchez - Universidad Icesi</title>
  </head>
  <body>
    <h1>Hello from {{print_hostname.stdout}}!</h1>
    <p>
	Quiero vivir un poco más.<br>
	Quiero gritarlo una vez más.<br>
	Y por hacerlo todo siempre a mi <br>
	manera sé que me recordarán!<br>
	YWH & AWH <br>
    </p>       
</body>
</html>
