<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My template</title>
  </head>
  <body>
    <h1>Hello from {{print_hostname.stdout}}!</h1>
    <h3>Task 1: {{the_date.stdout}}!</h3>
    <h3>Task 2: {{user_name.stdout}}!</h3>
    <h3>Task 3: {{response_uname.stdout}}!</h3>
    <h3>Task 4: {{process_info.stdout}}!</h3>
    <h3>Task 5: {{free_response.stdout}}!</h3>
  </body>
</html>
