<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Universidad Icesi</title>
  </head>
  <body>
    <h1>Hello from {{print_hostname.stdout}}!</h1>
    <h1>Fact #1 {{ansible_kernel}}!</h1>
    <h1>Fact #2 {{ansible_machine}}!</h1>
    <h1>Fact #3 {{ansible_nodename}}!</h1>
    <h1>Fact #4 {{ansible_memtotal_mb}}!</h1>
    <h1>Fact #5 {{ansible_uptime_seconds}}!</h1>
  </body>
</html>
