<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Universidad Icesi</title>
    <link rel="stylesheet"  href="style.css">
  </head>
  <body>
    <body class="conte">

      <h2> Datos de Tu máquina </h2>
      <section>

      <h1>{{print_hostname.stdout}}!</h1>
      <h1>{{print_uptime.stdout}}!</h1>
      <h1>{{print_machinetype.stdout}}!</h1>
      <h1>{{print_memory.stdout}}!</h1>
      <h1>{{print_user.stdout}}!</h1>
      <h1>{{print_cpu.stdout}}!</h1>

      </section>
      
    </body>
  </body>
</html>