<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ANSIBLE - JUAN DAVID PAZ</title>
  </head>
  <body>
    <h1>Hello from {{print_hostname.stdout}}!</h1>

      PERDON POR IRME A MITAD DE CLASE
      SE ME FUE EL INTERNET :(
  </body>
</html>
