<!DOCTYPE HTML>
<html lang="es">
	<head>
		<title>Workshop #2 (ANSIBLE)</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>En esta página web se mostrarán 5 Ansible Facts</h1>
		<p1>Con estos 5 Ansible Facts se busca comprobar el correcto funcionamiento del balan			ceo de cargas</p1>
		<h2>El primer Ansible Fact será "ansible_distribution"</h2>
		<p1>{{ansible_distribution}}</p1>
		<h2>El segundo Ansible Fact será "ansible_hostname" </h2>
		<p1>{{print_hostname.stdout}}!</p1>
		<h2>El tercer Ansible Fact será "ansible_interfaces" </h2>
		<p1>{{ansible_interfaces}}</p1>
 		<h2>El cuarto  Ansible Fact será "ansible_kernel"</h2>
		<p1>{{ansible_kernel}}</p1>
		<h2>El quinto Ansible Fact será "ansible_processor" </h2>
		<p1>{{ansible_processor}}</p1>
	</body>
</html>	
